
/* DEFAULT.CSS 1.0 (2018/12/14) */

html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
} 

.page-container { 
	position:absolute; 
	left:0; 
	bottom:0; 
	height:54px; 
	background-color:#000 
} 

.mapboxgl-ctrl-logo {
	display:none
}
	
.map { 
height: 100%;
}