
/* HISTORIC.CSS 1.0 (2019/02/27) */

body {
	background: #2D2D2D;
	padding: 0 8px 0 8px;
	overflow: hidden;
	color: #B6B6B6;
	font-family: arial, helvetica, sans-serif;
}

h4 {
	margin-bottom: 0;
}

small {
	font-size: 13px;
}

.body-bg {
  background: #2D2D2D !important;
}

.content-area {
  width: 100%;
  margin: 0 auto;
}

#line-adwords {
	padding: 20px 0 0 0;
}

.line-adwords-title {
	position: absolute;
	top: -8px;
	left: 8px;
	z-index: 9999;
}